*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    
}

body{
    background-color: rgb(127, 212, 255);
}
.container{
    background-color: antiquewhite;
    margin: 20px auto;
    padding: 20px;
    /* border: 2px solid grey; */
    box-shadow: 7px 7px 7px;
    text-align: center;
    max-width: 600px;
    margin-top: 40px;
    border-radius: 12px;
     
}

form{
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
    align-items: center;
}
form input[type="text"]{
    padding: 10px;
    font-size: 18px;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 5px;
}
form input[type="submit"]{
padding: 10px 20px;
border:none;
outline: none;
background-color: rgb(240, 121, 77);
border-radius: 5px;
}
form input[type="submit"]:hover{
    background-color: rgb(190, 86, 49);
    transition: all 0.2s ease-in;
    cursor: pointer;
}

#weather-image{
 width: 100px;
 height: 100px;
 background-size: contain;
 background-repeat : no-repeat;
 background-position: center;
}

.temp{
    font-size: 40px;
    font-weight: 1000;
    margin-top: 30px;
}

.desc{
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}

.weather-data-sub{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.weather-data-sub>div{
    font-size: 18px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
    min-height: 40px;
    text-align: center;
    align-items: center;
    flex: 1;
}